<div>
  <link href="./navigation-links.css" rel="stylesheet" />
  <nav class="navigation-links-nav">
    <a href="index.html" class="navigation-links-navlink">
      <span>Početna</span>
    </a>
    <a href="umetnine.html" class="navigation-links-navlink1">
      <span>Umetnine</span>
    </a>
    <a href="umetnici.html" class="navigation-links-navlink2">
      <span>Umetnici</span>
    </a>
    <a href="login.html" class="navigation-links-navlink3">
      <span>Moj nalog</span>
    </a>
    <a href="o-nama.html" class="navigation-links-navlink4">
      <span>O nama</span>
    </a>
  </nav>
</div>
