<div>
  <link href="./pricing.css" rel="stylesheet" />
  <div class="pricing-pricing">
    <div class="pricing-container">
      <div class="pricing-pricing-card">
        <span class="pricing-text"><span>Neki cap</span></span>
        <img
          alt="image"
          src="public/40120_girl-with-a-pearl-earring-g1bc78cda1-1920_orig-500h.jpg"
          class="pricing-image"
        />
      </div>
      <div class="pricing-pricing-card1">
        <span class="pricing-text1"><span>NEKI CAP</span></span>
        <img
          alt="image"
          src="public/40120_girl-with-a-pearl-earring-g1bc78cda1-1920_orig-500h.jpg"
          class="pricing-image1"
        />
      </div>
      <div class="pricing-pricing-card2">
        <span class="pricing-text2"><span>NEKI CAP</span></span>
        <img
          alt="image"
          src="public/40120_girl-with-a-pearl-earring-g1bc78cda1-1920_orig-500h.jpg"
          class="pricing-image2"
        />
      </div>
    </div>
  </div>
</div>
