<div>
  <link href="./umetnici-card.css" rel="stylesheet" />
  <div class="umetnici-card-testimonial-card">
    <div class="umetnici-card-testimonial">
      <span class="umetnici-card-text"><span>Jane Doe</span></span>
      <img
        alt="profile"
        src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDd8fHBvcnRyYWl0fGVufDB8fHx8MTYyNjM3ODk3Mg&ixlib=rb-1.2.1&w=300"
        class="umetnici-card-image"
      />
      <button type="button" class="umetnici-card-button button">
        <span>Pregled dela</span>
      </button>
      <span class="umetnici-card-text1">
        <span>This is a bio for artists</span>
      </span>
    </div>
  </div>
</div>
